.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

ul {
  padding: 0px !important;
  margin: 0px !important;
}

:root {
  --main-color: #FAEAB1;
  --second-color: #FAF8F1;
  --dark-color: #C58940;
  --hover-color: #AF8260;
  --text-color: #743C08;
  --star-review-color: #FF9600;
  --yellow-color: #fcc41a;
  --compare-price-color: #777777;
}

* {
  padding: 0px;
  margin: 0px;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

header {
  background-color: var(--main-color);
}

header > div {
  line-height: 76px;
}

header .login-cart-list li:last-child i,
header .login-cart-list li a {
  display: inline-block;
  width: 35px;
  margin: 10px;
  line-height: 35px;
  background-color: var(--dark-color);
  font-size: 20px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  z-index: 100;
  cursor: pointer;
}

header .login-cart-list li a i {
  display: -ms-inline-grid;
  display: inline-grid;
  color: #000;
}

header .login-cart-list li:last-child i::after,
header .login-cart-list li a::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  background-color: var(--second-color);
  width: 35px;
  height: 35px;
  z-index: -2;
  border-radius: 50%;
}

header .main-content-text li a:hover {
  color: var(--hover-color);
}

header .main-content-text li a {
  line-height: 60px;
  padding: 8px;
  margin: auto 20px;
  display: block;
  font-weight: 600;
  color: var(--text-color);
  font-size: 18px;
}

.hide-discktop {
  width: 300px;
  height: 100vh;
  background-color: #fff;
  top: 0;
  right: -370px;
  z-index: 1000;
  -webkit-transition: 0.5s all linear;
  transition: 0.5s all linear;
  overflow-x: hidden;
  position: fixed;
}

.show-menu-mobile {
  right: 0px;
}

.content-search {
  background-color: var(--second-color);
}

.content-search .bi-search {
  position: absolute;
  right: 14px;
  top: 8px;
}

.content-search div input {
  border: none;
  outline: none;
  border-radius: 50px;
  margin: auto;
  background-color: #fff;
  width: 300px;
}

.cart-qty-header {
  font-size: 14px;
  top: -8px;
  left: 24px;
  background-color: var(--dark-color);
  border-radius: 100%;
  width: 20px;
  line-height: 20px;
  color: #fff;
}

.main-content-product {
  background-color: var(--second-color);
}

.category-boxs .box {
  border-radius: 20px;
  background-color: var(--main-color);
  margin-bottom: 20px;
}

.category-boxs .box img {
  width: 100px;
  border-radius: 20px 20px 0px 0px;
}

.category-boxs .box .text {
  background-color: var(--main-color);
  border-radius: 20px;
}

.category-boxs .box .text span {
  color: var(--text-color);
  font-size: 14px;
}

.product-boxs .pro-box {
  width: 230px;
  background-color: var(--main-color);
}

@media screen and (max-width: 1200px) {
  .product-boxs .pro-box {
    width: 217px;
  }
}
@media screen and (max-width: 768px) {
  .product-boxs .pro-box {
    width: 240px;
  }
}
@media screen and (max-width: 550px) {
  .product-boxs .pro-box {
    width: 100%;
  }
}
@media screen and (max-width: 431px) {
  .product-boxs .pro-box {
    width: 191px;
    font-size: 12px;
  }
  .jdgm-prev-badge__stars i {
    font-size: 10px;
  }
}
@media screen and (max-width: 415px) {
  .product-boxs .pro-box {
    width: 183px;
    font-size: 12px;
  }
  .jdgm-prev-badge__stars i {
    font-size: 10px;
  }
}
@media screen and (max-width: 413px) {
  .product-boxs .pro-box {
    width: 182px;
    font-size: 12px;
  }
  .jdgm-prev-badge__stars i {
    font-size: 10px;
  }
}
@media screen and (max-width: 400px) {
  .product-boxs .pro-box {
    width: 163px;
    font-size: 12px;
  }
  .jdgm-prev-badge__stars i {
    font-size: 10px;
  }
}
@media screen and (max-width: 391px) {
  .product-boxs .pro-box {
    width: 171px;
    font-size: 12px;
  }
}
@media screen and (max-width: 390px) {
  .product-boxs .pro-box {
    width: 100%;
    font-size: 12px;
  }
}
@media screen and (max-width: 376px) {
  .product-boxs .pro-box {
    width: 163px;
    font-size: 12px;
  }
  .jdgm-prev-badge__stars i {
    font-size: 10px;
  }
}
@media screen and (max-width: 361px) {
  .product-boxs .pro-box {
    width: 156px;
    font-size: 12px;
  }
}
.product-boxs .pro-box .new-price {
  color: var(--text-color);
}

.product-boxs .pro-box .old-price {
  text-decoration: line-through;
  color: var(--compare-price-color);
  font-weight: 100;
}

.product-boxs .pro-box .jdgm-prev-badge__stars {
  color: var(--star-review-color);
  font-size: 14px;
}

.product-boxs .pro-box .new-and-discount {
  position: absolute;
  top: 20px;
  left: 0px;
  font-weight: bold;
  color: #fff;
  font-size: 14px;
  z-index: 100;
}

.product-boxs .pro-box .new-and-discount .discount {
  width: 60px;
  line-height: 25px;
  background: -webkit-gradient(linear, right top, left top, from(#C58940), to(#5F421F));
  background: linear-gradient(to left, #C58940, #5F421F);
  border-radius: 0px 50px 50px 0px;
  text-align: center;
}

.product-boxs .pro-box .new-and-discount .new {
  border-radius: 0px 50px 50px 0px;
  text-align: center;
  width: 60px;
  line-height: 25px;
  background: -webkit-gradient(linear, left top, right top, from(#531D05), to(#B9400C));
  background: linear-gradient(to right, #531D05, #B9400C);
  margin-bottom: 10px;
}

.product-boxs .pro-box img {
  width: 100%;
}

.product-boxs .pro-box .cart-wishlist-view {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  z-index: 10;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(161, 54, 2, 0.831372549)), to(rgba(254, 185, 52, 0.7882352941)));
  background: linear-gradient(0deg, rgba(161, 54, 2, 0.831372549) 0%, rgba(254, 185, 52, 0.7882352941) 100%);
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
  overflow: hidden;
}

.product-boxs .pro-box:hover .cart-wishlist-view {
  height: 100%;
}

.product-boxs .pro-box .cart-wishlist-view div span {
  display: inline-block;
  width: 35px;
  line-height: 35px;
  background-color: var(--dark-color);
  font-size: 20px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  margin: auto 5px;
}

.product-boxs .pro-box .cart-wishlist-view div {
  bottom: 20px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.product-image .product-main-image img {
  width: 100%;
}

.small-box-images li img {
  width: 60px;
}

.main-content-contact .image-contact-box .text-contact {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main-content-contact .image-contact-box .main-con-image {
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.top-in-con-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2901960784);
}

.image-contact-box .text-contact {
  color: var(--second-color);
}

.image-contact-box .text-contact h2 {
  font-size: 50px;
}

.image-contact-box .text-contact div span {
  font-size: 20px;
}

.main-text-contact .fs-box-text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.main-text-contact .fs-box-text ul li {
  margin-bottom: 20px;
}

.main-text-contact .fs-box-text ul li .fs-box-sml-text {
  margin: auto 20px;
}

.main-text-contact .fs-box-text ul li .fs-box-logo {
  width: 56px;
  border: none;
  border-radius: 8px;
  line-height: 56px;
  text-align: center;
  -webkit-box-shadow: 0px 3px 8px -3px #333;
          box-shadow: 0px 3px 8px -3px #333;
  height: 56px;
  color: var(--dark-color);
  font-size: 26px;
}

.main-text-contact .sec-box-text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.main-text-contact textarea:focus,
.input-box-one input:focus,
.input-box-two input:focus {
  outline: 1px solid var(--dark-color);
}

.main-text-contact label {
  font-weight: 600;
}

.main-text-contact textarea {
  height: 200px;
}

.main-text-contact textarea,
.input-box-one input,
.input-box-two input {
  padding: 15px;
  border: 1px solid;
  border-radius: 5px;
  width: 100%;
}

.main-text-contact button {
  border: none;
  outline: none;
  padding: 10px 30px;
  border-radius: 5px;
  font-weight: 600;
  background: -webkit-gradient(linear, left top, right top, from(#531D05), to(#B9400C));
  background: linear-gradient(to right, #531D05, #B9400C);
  color: #fff;
}

.cart-wrap th {
  height: 80px;
  font-weight: 700;
}

.cart-wrap th {
  border-bottom: 1px solid rgba(240, 240, 240, 0.5803921569);
  padding: 40px 0;
}

.cart-wrap th {
  width: 10%;
  border-bottom: 1px solid rgba(240, 240, 240, 0.5803921569);
  text-align: center;
  font-weight: 400;
  color: #414141;
}

.cart-wrap td {
  padding: 40px 25px;
}

.cart-wrap td,
.cart-wrap th {
  width: 10%;
  border-bottom: 1px solid rgba(240, 240, 240, 0.5803921569);
  text-align: center;
  font-weight: 400;
  color: #414141;
}

.cart-wrap .product {
  width: 15%;
}

.cart-wrap .quantity {
  position: relative;
}

.quantity {
  position: relative;
  display: inline-block;
}

.quantity input {
  width: 105px;
  padding: 0px 35px;
  text-align: center;
  height: 30px;
  position: relative;
  background: #fff;
  border: none;
  border: 1px solid #B1B1B2;
}

.form input,
.form textarea,
.form select {
  border-color: #bfbfbf;
  border-radius: 0;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #595959;
}

.cart-wrap .quantity .qtybutton.dec {
  border-left: none;
}

.cart-wrap .quantity .qtybutton {
  top: 50%;
  left: 0;
  transform: translateY(-51%);
  -webkit-transform: translateY(-51%);
  -moz-transform: translateY(-51%);
  border-right: 1px solid #B1B1B2;
}

.quantity .qtybutton {
  position: absolute;
  top: 0;
  left: 0px;
  height: 30px;
  width: 35px;
  text-align: center;
  line-height: 28px;
  font-size: 18px;
  cursor: pointer;
  color: #333;
  border-left: 1px solid #B1B1B2;
}

.cart-wrap .quantity .qtybutton.inc {
  right: 0;
  left: auto;
  border-right: none;
}

.cart-wrap .quantity .qtybutton {
  top: 50%;
  left: 0;
  transform: translateY(-51%);
  -webkit-transform: translateY(-51%);
  -moz-transform: translateY(-51%);
  border-right: 1px solid #B1B1B2;
}

.quantity .qtybutton {
  position: absolute;
  top: 0;
  left: 0px;
  height: 30px;
  width: 35px;
  text-align: center;
  line-height: 28px;
  font-size: 18px;
  cursor: pointer;
  color: #333;
  border-left: 1px solid #B1B1B2;
}

.cart-wrap .images img {
  width: 90px;
}

.cart-wrap .action a {
  display: block;
  width: 40px;
  height: 38px;
  line-height: 38px;
  background: #414141;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
}

.cart-wrap .action a i {
  font-size: 20px;
}

.cart-wrap .action a:hover {
  background: var(--dark-color);
}

.shop-filter-box {
  -webkit-box-shadow: 0px 35px 80px rgba(129, 129, 129, 0.3);
          box-shadow: 0px 35px 80px rgba(129, 129, 129, 0.3);
}

.price-filter .tag-price button {
  border: none;
  outline: none;
  background-color: #fcc41a;
  padding: 5px 20px;
  border-radius: 3px;
  font-weight: 700;
  text-transform: uppercase;
}

.price-filter .range-slider input {
  width: 100%;
}

.price-filter,
.category-filter,
.size-filter,
.brand-filter {
  border-bottom: 1px solid rgba(240, 240, 240, 0.5803921569);
  padding-bottom: 30px;
}

.size-filter span,
.category-filter span,
.brand-filter span {
  margin: auto 5px;
}

.shop-content .shop-list-des div {
  width: 45px;
  text-align: center;
  background: var(--dark-color);
  border-radius: 3px;
  line-height: 35px;
  cursor: pointer;
}

.shop-content .shop-list-des i {
  font-size: 20px;
  color: #fff;
}

@media screen and (max-width: 1200px) {
  .tag-price p,
  .tag-price .filter-btn {
    font-size: 12px;
  }
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  height: 500px !important;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 550px) {
  .swiper {
    height: 260px;
  }
}